.taskPage{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 35px;
    width: 100%;
    height: 100%;

}
.taskList{
    width: 100%;
    grid-column: 1;
    & li{
        font-size: 20px;
        // border: 1px solid gray;
        padding: 20px 0;
        margin-left: 15px;
        cursor: pointer;
        font-weight: 500;
        color:#fff;
        transition: all .5s ;
        &.active{
            color:#11F5E8;
        }
        &.finish {
            color: #7AE538;
            text-decoration: line-through;
        }
        &.start {
            color: #E58B38;
        }
}
}
.description{
    grid-column: 2;
    width: 100%;
    background:#595959;
    border-radius: 5px;
    padding: 25px;
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    &.finish{
        color:#ffffff5e;
    }
    & h2{
        font-size: 35px;
        &.finish {
                color: #ffffff5e;
            }
    }
    & p{
        font-size: 20px;
        padding: 10px 0;
        max-width: 75%;
        &.finish {
                color: #ffffff5e;
            }
        & span{
            color:#7AE538;
        }
    }
}